@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #0e3c67;
    --bg-dark: #dcdcdc;
    --bg-light: #f4f4f4;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: var(--bg-dark);
    color: var(--main-color);
}
a{
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s;
}

.nav {
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    color: var(--main-color);
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    border-bottom: 3px solid var(--main-color);
}
.nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-btn {
    text-decoration: none;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    position: relative;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    text-align: center;
}
.nav-btn::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.3s ease-in-out;
}

.nav-btn:hover::after {
    width: 80%;
}

.logo {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.logo img {
    height: 50px;
}


.nav-btn > span {
    padding: 15px 25px;
    transition: background-color 0.5s;
    border-radius: 4px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(244 244 244 / 0.8);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    transform-origin: top center;
}

.dropdown-content a {
    color: var(--main-color);
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: none;
    transition: background-color 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}
